:root{

    --primary-color:#e8f3f5;
    --secondary-color:#0b2314;
    --highlight-color:#37a630;
    --text-color: #9eb0a2;
    --primary-font: "Domine", serif;
}


.about-me {
    padding: 5% 10%;
    background-color: var(--primary-color);
    text-align: center;
    margin: 2.5%;
    border-radius: 10px;
}

.about-me__title {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.about-me__intro {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

.about-me__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.about-me__section {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 1px 0px 16px 0px  rgba(158, 176, 162, 0.75);
}

.about-me__section h2 {
    color: var(--highlight-color);
    font-size: 1.5rem;
}
.about-me__more{
    color: var(--text-color);
    text-decoration: none;
}
.about-me__section ul {
    list-style-type: none;
    padding: 0;
}

.about-me__section li {
    font-size: 1.2rem;
    padding: 5px 0;
}

@media (min-width: 375px) {
    .about-me__grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 750px) {
    .about-me__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .about-me__title {
        font-size: 3rem;
    }
    .about-me__intro {
        font-size: 1.5rem;
    }
    .about-me__section h2 {
        font-size: 1.8rem;
    }
    .about-me__section li {
        font-size: 1.3rem;
    }
}
