@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root{

    --primary-color:#e8f3f5;
    --secondary-color:#0b2314;
    --highlight-color:#37a630;
    --text-color: #9eb0a2;
    --primary-font: "Domine", serif;
}

body{
    background-color: var(--secondary-color);
    font: var(--primary-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    background-color: var(--primary-color);
}

.fa-brands:hover{
    color: var(--highlight-color);
}
.nav-link, .navbar-brand{
    color: var(--secondary-color) !important;
}
.text-box{
    display: flex;
    flex-direction: row;
    width: 5rem;
    justify-content:  space-evenly;
}
.fa-brands{
    font-size: 2rem;
}


.presentation {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
   
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.presentation__title {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.presentation__link {
    font-size: 1.3rem;
    color: var(--highlight-color);
    text-decoration: none;
}
.highlight-title {
    font-size: 2rem;
    color: var(--text-color) 
}

.presentation__text {
    font-size: 1.3rem;
    color: var(--text-color);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.presentation__subtitle {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    text-align: center;
}

.presentation__image {
    border-radius: 10px;
    box-shadow: 10px 11px 12px 0px rgba(0,0,0,0.75);
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.btn-outline {
    color: var(--highlight-color);  
    border-color: var(--highlight-color); 
    width: 10rem;
}

.btn-outline:hover {
    background-color: var(--primary-color) !important; 
    color: var(--text-color) !important; 
}


footer{
    padding-top: 0.5em;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 2rem;
}

/* Media queries */
@media (min-width: 375px) {
    .presentation {
        flex-direction: column;
    }
    .presentation__content {
        width: 100%;
    }
    .presentation__image {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (min-width: 750px) {
    .presentation {
        flex-direction: row;
    }
    .presentation__content {
        width: 50%;
    }
    .presentation__image {
        width: 50%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .presentation__title {
        font-size: 3rem;
    }
    .presentation__text {
        font-size: 1.5rem;
    }
    .presentation__subtitle {
        font-size: 1.8rem;
    }
    .presentation__link {
        font-size: 1.5rem;
    }
    .presentation__image {
        width: 100%;
       
        margin: 0 auto;
    }
}
