@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root{

    --primary-color:#1E1E2E;
    --secondary-color:#FFD700;
    --tertiary-color: #22D4FD;
    --primary-text-color: #ffffff;
    --primary-font: "Domine", serif;
}

body{
    background-color: var(--primary-color);
    font: var(--primary-font);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.navbar {
    background-color: #FFD700;
}
.fa-brands:hover{
    color: var(--tertiary-color);
}

.text-box{
    display: flex;
    flex-direction: row;
    width: 5rem;
    justify-content:  space-evenly;
}
.fa-brands{
    font-size: 2rem;
}


.presentation {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.presentation__title {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

.highlight-title {
    color: var(--primary-text-color) /* Din tertiära färg */
}

.presentation__text {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.presentation__subtitle {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #FFD700; /* Sekundärfärg */
    text-align: center;
}

.presentation__link {
    display: flex;
    align-items: space-between;
    gap: 10px;
    color: var(--primary-text-color);
    width: 60%;
    text-align: center;
    border: 2px solid #22D4FD;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    transition: background-color 0.3s ease-in-out;
}

.presentation__link:hover {
    background-color: #22D4FD;
    color: white;
}

.presentation__image {
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-outline {
    color: #FFD700 !important;  
    border-color: #FFD700 !important; 
    width: 10rem;
}

.btn-outline:hover {
    background-color: #FFD700 !important; 
    color: #1E1E2E !important; 
}


footer{
    padding-top: 0.5em;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 2rem;
}

/* Media queries */
@media (min-width: 375px) {
    .presentation {
        flex-direction: column;
    }
    .presentation__content {
        width: 100%;
    }
    .presentation__image {
        width: 100%;
    }
}

@media (min-width: 750px) {
    .presentation {
        flex-direction: row;
    }
    .presentation__content {
        width: 50%;
    }
    .presentation__image {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .presentation__title {
        font-size: 3rem;
    }
    .presentation__text {
        font-size: 1.5rem;
    }
    .presentation__subtitle {
        font-size: 1.8rem;
    }
    .presentation__link {
        font-size: 1.5rem;
    }
   
}
